Package: com.joemerlino.darkcc
Name: DarkCC
Depends: mobilesubstrate, preferenceloader, firmware(>=7.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Makes darker the Control Center. Enable/disable in settings.
Maintainer: Joe Merlino
Author: Joe Merlino
Section: Tweaks
